-provide :title, "Who We Are"
-provide :bg, "pexels-photo-210764.jpeg"

.row
  .col-md-10.col-md-offset-1
    .profile-block.clearfix
      %h2
        Sid Unrau
        %small
          Choir Director
      =image_tag "portrait-placeholder.jpg"
      %p
        Potenti nullam ac tortor vitae. Sed turpis tincidunt id aliquet risus 
        feugiat in ante metus. Aenean et tortor at risus viverra adipiscing at 
        in tellus. Mauris a diam maecenas sed enim. Mattis rhoncus urna neque 
        viverra justo nec. Mauris a diam maecenas sed enim ut sem. Sed 
        ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. 
        Ut aliquam purus sit amet luctus. Velit laoreet id donec ultrices.
      %p
        Ut venenatis tellus in metus vulputate eu scelerisque. Ut tortor 
        pretium viverra suspendisse. Urna cursus eget nunc scelerisque. 
        Tristique et egestas quis ipsum suspendisse ultrices. Odio ut sem nulla 
        pharetra. Donec pretium vulputate sapien nec sagittis aliquam malesuada 
        bibendum arcu. Lobortis feugiat vivamus at augue.
    .profile-block.clearfix
      %h2
        Lee Whittaker
        %small
          Assistant Choir Director
      =image_tag "portrait-placeholder.jpg"
      %p
        Potenti nullam ac tortor vitae. Sed turpis tincidunt id aliquet risus 
        feugiat in ante metus. Aenean et tortor at risus viverra adipiscing at 
        in tellus. Mauris a diam maecenas sed enim. Mattis rhoncus urna neque 
        viverra justo nec. Mauris a diam maecenas sed enim ut sem. Sed 
        ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. 
        Ut aliquam purus sit amet luctus. Velit laoreet id donec ultrices.
      %p
        Ut venenatis tellus in metus vulputate eu scelerisque. Ut tortor 
        pretium viverra suspendisse. Urna cursus eget nunc scelerisque. 
        Tristique et egestas quis ipsum suspendisse ultrices. Odio ut sem nulla 
        pharetra. Donec pretium vulputate sapien nec sagittis aliquam malesuada 
        bibendum arcu. Lobortis feugiat vivamus at augue.
    .profile-block.clearfix
      %h2
        Heather Taylor
        %small
          Accompanist
      =image_tag "portrait-placeholder.jpg"
      %p
        Potenti nullam ac tortor vitae. Sed turpis tincidunt id aliquet risus 
        feugiat in ante metus. Aenean et tortor at risus viverra adipiscing at 
        in tellus. Mauris a diam maecenas sed enim. Mattis rhoncus urna neque 
        viverra justo nec. Mauris a diam maecenas sed enim ut sem. Sed 
        ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. 
        Ut aliquam purus sit amet luctus. Velit laoreet id donec ultrices.
      %p
        Ut venenatis tellus in metus vulputate eu scelerisque. Ut tortor 
        pretium viverra suspendisse. Urna cursus eget nunc scelerisque. 
        Tristique et egestas quis ipsum suspendisse ultrices. Odio ut sem nulla 
        pharetra. Donec pretium vulputate sapien nec sagittis aliquam malesuada 
        bibendum arcu. Lobortis feugiat vivamus at augue.