%h2.text-center
  %span.nobreak Welcome to the
  %span.nobreak Cascade 6th Ward Choir's
  %span.nobreak Web Archive
%p{style: "margin-bottom: 20px;"}
  Here you can find music planed for the Cascade Sixth Ward Choir's upcoming
  performances, listen to individualized parts, print off sheet music, and 
  listen to past performances and rehearsals.
.row
  .col-sm-5.col-sm-push-7.col-md-4.col-md-push-8.col-lg-3.col-lg-push-9
    .performance-block
      %strong Next Performance:
      =link_to music_path(@song.slug), class: "secondary" do
        %h2= @song.title
      %span.date= @song.performance_date.strftime("%m/%d/%Y")
      -unless @song.audios.first.blank?
        %audio{:controls => "controls",
               :controlsList => "nodownload"}
          %source{:type => @song.audios.first.mp3_content_type,
                  :src => @song.audios.first.mp3.url }
      .clearfix
        =link_to music_index_path, class: "pull-right" do
          More Music&hellip;
    .rehearsal-block
      %strong Next Rehearsal:
      %table
        %tr
          %td.text-primary 03/25/2018
          %td.text-right Bro. Whittaker's Home
        %tr 
          %td.text-primary 1:00 PM - 2:00 PM
          %td.text-right 715 East 200 North
      %strong Last Rehearsal:
      %table
        %tr 
          %td.text-primary 03/18/2018
          %td.text-right This song and this song.
      .clearfix
        =link_to "#", class: "pull-right" do 
          More Rehearsals&hellip;
  .col-sm-7.col-sm-pull-5.col-md-8.col-md-pull-4.col-md-9.col-lg-pull-3
    .news-block
      %strong Lastest News:
      .clearfix
        =link_to "#", class: "pull-right" do 
          More News&hellip;