- provide :title, t('.title')
- provide :bg, "pexels-photo-257904.jpg"

- t('.welcome').lines.each do |line|
  %p!= line

.row
  = render @rehearsals

- if @pagy.pages > 1
  .d-flex.justify-content-center!= pagy_bootstrap_nav(@pagy)
