- provide :title, t('.title')
- provide :bg, "pexels-photo-257904.jpg"

- t('.welcome').lines.each do |line|
  %p!= line

.row
  - @rehearsals.each do |rehearsal|
    .col-sm-4.col-md-3= render rehearsal

- if @pagy.pages > 1
  .d-flex.justify-content-center!= pagy_bootstrap_nav(@pagy)
