.nested_fields
  .panel.panel-default
    .panel-body
      .row
        =f.hidden_field :position
        .col-sm-1
          %span.glyphicon.glyphicon-resize-vertical.handle
        .col-sm-10.field
          =f.label :instrument
          =f.text_field :instrument, class: "form-control"
        .col-sm-1
          %br{style: "line-height: 1.95em;"}
            =link_to_remove_association f, class: "btn btn-danger btn-sm pull-right" do
              %span.glyphicon.glyphicon-remove
      .row
        .col-sm-5.col-sm-offset-1.field
          %span{style: "white-space: nowrap;"}
            =f.label :midi, "MIDI"
            - if f.object.midi.exists?
              =link_to f.object.midi.url do
                =image_tag "MIDI.png", size: "16x20"
                =f.object.midi_file_name
          =f.file_field :midi, class: "form-control"
        .col-sm-5.field
          %span{style: "white-space: nowrap;"}
            =f.label :mp3, "MP3"
            - if f.object.mp3.exists?
              =link_to f.object.mp3.url do
                =image_tag "MP3.png", size: "16x20"
                =f.object.mp3_file_name
          =f.file_field :mp3, class: "form-control"