.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    =form_for [:admin, song] do |f|
      =render "shared/error_messages", object: f.object
      .clearfix
        =f.submit "Save", class: "btn btn-primary pull-right"
        =link_to "Cancel",
                 admin_songs_path,
                 class: "btn btn-default pull-right",
                 style: "margin-right: 15px;"
      %fieldset
        %legend Main Info
        =f.label :title
        =f.text_field :title, class: "form-control"
        %br
        =f.label :description
        =f.text_area :description, class: "form-control"
        %br
        %span{style: "white-space: nowrap;"}
          =f.label :lilypond, "Lilypond File"
          -if f.object.lilypond.attached?
            =link_to f.object.lilypond.attachment.filename,
                     rails_blob_path(f.object.lilypond, disposition: "attachment")
        =f.file_field :lilypond,
                      class: "form-control"
      %br
      %fieldset
        %legend Instruments
        .instruments
          =f.fields_for :instruments do |instruments|
            =render "instrument_fields", f: instruments
          .links
            =link_to_add_association f, :instruments, class: "btn btn-primary" do
              %span.glyphicon.glyphicon-plus
              Add Instrument
:javascript
  function update_positions(){
    var index = 0;
    $.each( $(".instruments .panel"), function(index, panel){
      $(panel).find("input[id$='_position']").val(index);
    });
  }

  $( function() {
    $('.instruments').sortable({
      handle: ".handle",
      placeholder: "ui-state-highlight sheet-music-highlight",
      update: function(event, ui) { update_positions() }
    });
  });

  $(".instruments").on('cocoon:after-insert', function() {
    update_positions();
  })

  $(".instruments").on('cocoon:after-remove', function() {
    update_positions();
  })