.nested-fields
  .panel.panel-default
    .panel-body
      .row
        =f.hidden_field :position
        .col-sm-1
          %span.glyphicon.glyphicon-resize-vertical.handle
        .col-sm-10
          =f.label :name
          =f.text_field :name, class: "form-control"
          %br
          %span{style: "white-space: nowrap;"}
            =f.label :pdf, "Sheet Music (PDF)"
            - if f.object.pdf.exists?
              =link_to f.object.pdf.url do
                =image_tag "pdf-icon.png", size: "16x20"
                =f.object.pdf_file_name
          =f.file_field :pdf, 
                        accept: "application/pdf",
                        class: "form-control"
          %br              
          %span{style: "white-space: nowrap;"}
            =f.label :midi, "Audio File (MIDI)"
            - if f.object.midi.exists?
              =link_to f.object.midi.url do
                =image_tag "MIDI.png", size: "16x20"
                =f.object.midi_file_name
          =f.file_field :midi, 
                        accept: "audio/midi",
                        class: "form-control"
          %br
          %span{style: "white-space: nowrap;"}
            =f.label :mp3, "Audio File (MP3)"
            - if f.object.mp3.exists?
              =link_to f.object.mp3.url do
                =image_tag "MP3.png", size: "16x20"
                =f.object.mp3_file_name
          =f.file_field :mp3, 
                        accept: "audio/mp3",
                        class: "form-control"

        .col-sm-1
          %br{style: "line-height: 1.95em;"}
          =link_to_remove_association f, class: "btn btn-danger btn-sm pull-right" do
            %span.glyphicon.glyphicon-remove