.nested-fields
  .panel.panel-default
    .panel-body
      .row
        =f.hidden_field :position
        .col-sm-1
          %span.glyphicon.glyphicon-resize-vertical.handle
        .col-sm-4.field
          =f.label :instrument
          =f.text_field :instrument, class: "form-control"
        .col-sm-6.field
          %span{style: "white-space: nowrap;"}
            =f.label :pdf, "PDF"
            - if f.object.pdf.exists?
              =link_to f.object.pdf.url do
                =image_tag "pdf-icon.png", size: "16x20"
                =f.object.pdf_file_name
          =f.file_field :pdf, class: "form-control"
        .col-sm-1
          %br{style: "line-height: 1.95em;"}
          =link_to_remove_association f, class: "btn btn-danger btn-sm pull-right" do
            %span.glyphicon.glyphicon-remove