=form_for [:admin, article] do |f|
  =render "shared/error_messages", object: f.object
  .clearfix
    -unless article.published?
      =f.submit "Publish",
                class: "btn btn-primary float-end",
                style: "margin-left: 1em;"
      =f.submit "Save Draft",
                class: "btn btn-outline-secondary float-end"
    -else
      =f.submit "Update",
                class: "btn btn-primary float-end",
                style: "margin-left: 1em;"
      =f.submit "Revert to Draft",
                class: "btn btn-outline-secondary float-end"
  .row
    .col-sm-8
      =f.label :title
      =f.text_field :title, class: "form-control"
      %br
      =f.text_area :content, class: "form-control wysiwyg"
    .col-sm-4
      %br
      %fieldset
        %legend.clearfix
          Categories
          =link_to admin_categories_path,
                   class: "btn btn-primary float-end" do
            %span.bi.bi-plus
        =f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |c|
          =c.label { c.check_box }
          =c.object.name
          %br
      %br
      %fieldset
        %legend.clearfix
          Tags
          =link_to admin_tags_path,
                   class: "btn btn-primary float-end" do
            %span.bi.bi-plus
        =f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |t|
          =t.label { t.check_box }
          =t.object.name
          %br
      =f.hidden_field :user_id, value: current_user.id

:javascript
  $(document).ready(function(){
    $('.wysiwyg').froalaEditor({
      height: 300
    });
  });