%h1 Articles
=link_to new_admin_article_path,
         class: "btn btn-primary" do
  %span.glyphicon.glyphicon-plus
  Add New Article

.row
  .col-xs-12
    %table{ class: "table table-hover",
            id: "articles-datatable",
            data: {source: admin_articles_path(format: :json)}}
      %thead
        %tr
          %th Title
          %th Date
          %th Status
          %th Categories
          %th Tags
          %th.text-right Controls
      %tbody