.sort-group
  %h2 Sort by Month
  - months.each do |month, count|
    =link_to "#{month.strftime("%B %Y")} (#{count.to_s})",
             news_index_path(month: month.strftime("%Y-%m-%d"))
    %br
.sort-group
  %h2 Categories
  -categories.each do |cat|
    =link_to cat.name,
             news_index_path(category: cat.slug),
             class: "nobreak"
    %br
.sort_group
  %h2 Tags
  = safe_join(tags.map { |tag| link_to tag.name, news_index_path( tag: tag.slug ), class: 'nobreak' }, ", " )