%h1 Message
=link_to "Back",
         admin_messages_path,
         class: "btn btn-outline-secondary"
.row{style: "padding-top: 30px;"}
  .col-lg-6.col-lg-offset-3.col-sm-8.col-sm-offset-2
    .panel.panel-default
      .panel-heading.clearfix
        %h4.float-start
          =@message.name
          %span.small
            =@message.email
        %h4.float-end
          %span.small
            =@message.created_at.strftime("%l:%M %P - %b %-d, %Y")
      .panel-body
        %h1= @message.subject
        =simple_format @message.message