.row
  .col-sm-8.col-sm-offset-2
    =form_for [:admin, rehearsal] do |f|
      =render "shared/error_messages", object: f.object
      .clearfix
        =f.submit "Save", class: "btn btn-primary pull-right"
        =link_to "Cancel",
                 admin_rehearsals_path,
                 class: "btn btn-default pull-right",
                 style: "margin-right: 25px;"
      .row
        .col-sm-6
          %fieldset{style: "margin-bottom: 30px;"}
            %legend Scheduling
            =f.label :host
            =f.text_field :host, class: "form-control"
            %br
            =f.label :venue
            =f.text_field :venue, class: "form-control"
            %br
            =f.label :date
            .input-group.date{data: {provide: "datepicker",
                                     date: { format: "mm/dd/yyyy" } } }
              =f.text_field :date_holder,
                            value: (rehearsal.date.strftime("%m/%d/%Y") if rehearsal.date?),
                            class: "form-control"
              .input-group-addon
                %span.glyphicon.glyphicon-th
            %br
            =f.label :time
            =f.text_field :time, class: "form-control"
        .col-sm-6
          %fieldset{style: "margin-bottom: 30px;"}
            %legend Events
            =f.label :audio
            =f.file_field :audio, class: "form-control"
            %br
            =f.label :songs
            %br
            =f.collection_check_boxes(:song_ids, Song.all, :id, :title) do |s|
              =s.label { s.check_box }
              =s.object.title
              %br