-provide :title, @song.title
-provide :bg, "pexels-photo-164821.jpeg"

.row
  .col-sm-6.col-md-8
    %h2=@song.title
    =simple_format @song.description
  .col-sm-6.col-md-4
    %h3{:style => "margin: 5px 0;"}
      %span.glyphicon.glyphicon-calendar
      Performance Dates
    -@song.performances.each do |performance|
      %br
      =performance.date.strftime("%b %e, %Y")
      -if performance.date.future?
        %span.date
          \-
          %em= "Coming Soon" 
      =simple_format performance.details
.row{:style => "margin-top: 20px;"}
  .col-md-8
    %h2 Parts
    Click on "Downloads" beside each part to fine the Sheet Music, MP3, or MIDI files for that part.
    -@song.instruments.each do |instrument|
      .song-listing
        .clearfix
          %h3.pull-left=instrument.name
          .dropdown.pull-right
            %button{ :class => "btn btn-secondary dropdown-toggle",
                     :type => "button",
                     :id => "downloads#{instrument.id}",
                     :data => { toggle: "dropdown" },
                     :aria => { haspopup: "true",
                                expanded: "true" } }
              Downloads
              %span.caret
            %ul.dropdown-menu{:aria => { labelledby: "downloads#{instrument.id}" } }
              %li
                %a{:href => instrument.pdf.url,
                   :download => instrument.pdf_file_name }
                  Sheet Music - PDF  
              -if instrument.mp3.exists? || instrument.midi.exists?
                %li.divider{:role => "separator"} 
              -if instrument.mp3.exists?
                %li 
                  %a{:href => instrument.mp3.url,
                     :download => instrument.mp3_file_name }
                    Audio File - MP3
              -if instrument.midi.exists?
                %li 
                  %a{:href => instrument.midi.url,
                     :download => instrument.midi_file_name }
                    Audio File - MIDI
        -unless instrument.mp3.blank?  
          %audio{:controls => "controls",
                 :controlsList => "nodownload"}
            %source{:type => instrument.mp3_content_type,
                    :src => instrument.mp3.url }
  .col-md-4
    %h2 Rehearsals
    -if @song.rehearsals.any?
      .row
        -@song.rehearsals.each do |rehearsal|
          .col-sm-4.col-md-12
            =render rehearsal
    -else
      %p No rehearsals yet.