%h1 Article Tags

.row
  .col-sm-6
    %fieldset
      %legend Tags
      = datatable_table_for Tag
  .col-sm-6
    %fieldset
      %legend New Tag
      =render "form", tag: @new_tag
.modals
  -@tags.each do |tag|
    =render "modal", tag: tag