.row
  .col-sm-8.col-sm-offset-2
    =form_for [:admin, performance] do |f|
      =render "shared/error_messages", object: performance
      .clearfix
        =f.submit "Save", class: "btn btn-primary float-end"
        =link_to "Cancel",
                 admin_performances_path,
                 class: "btn btn-outline-secondary float-end",
                 style: "margin-right: 15px;"
      .row
        .col-sm-6
          %fieldset
            %legend Main Info
            =f.label :venue
            =f.text_field :venue, class: "form-control"
            %br
            =f.label :date
            .input-group.date{data: {provide: "datepicker",
                                     date: { format: "mm/dd/yyyy" } } }
              =f.text_field :date,
                            value: (performance.date.strftime("%m/%d/%Y") if performance.date?),
                            class: "form-control"
              .input-group-addon
                %span.bi.bi-th
            %br
            =f.label :details
            =f.text_area :details, rows: "6", class: "form-control"
          %br
          %fieldset
            %legend Audio
            =f.label :audio, "Recording"
            - if f.object.audio.exists?
              =link_to f.object.audio.url do
                =image_tag "MP3.png", size: "16x20"
                =f.object.audio_file_name
            =f.file_field :audio,
                          accept: "audio/mp3",
                          class: "form-control"
        .col-sm-6
          %fieldset
            %legend Songs
            =f.label :songs
            %br
            %div{style: "max-height: 425px; overflow-y: auto;"}
              =f.collection_check_boxes(:song_ids, Song.all, :id, :title) do |s|
                =s.label { s.check_box }
                =s.object.title
                %br