%tr
  %td=performance.date.strftime("%m/%d/%Y")
  %td=performance.venue
  %td=performance.songs.map { |song| song.title}.to_sentence
  %td.text-end
    =link_to edit_admin_performance_path(performance),
             class: "btn btn-outline-secondary btn-xs" do
      %span.bi.bi-pencil
    =link_to admin_performance_path(performance),
             method: :delete,
             data: { confirm: "Are you sure?" },
             class: "btn btn-danger btn-xs" do
      %span.bi.bi-x