.clearfix
  %h1.float-start New Performance
  =link_to "Back",
           admin_performances_path,
           class: "btn btn-outline-secondary float-start",
           style: "margin-top: 23px; margin-left: 20px;"
=render "form", performance: @performance