@use 'sass:math';
@use 'sass:color';

$brand-primary: #CBA250;
$brand-secondary: #424242;

$original-blue: #4688f1;

$p: hue($brand-primary);
$o: hue($original-blue);
$hue-rotate: $p - $o;

$s1: saturation($brand-primary);
$s2: saturation($original-blue);
$hue-saturate: math.div($s1, math.div($s2, 100%));

$b1: lightness($brand-primary);
$b2: lightness($original-blue);
$hue-lightness: math.div($b1, math.div($b2, 100%));