%p
  You have a new message from choir.CascadeSixth.com
%p
  =@message.created_at.strftime("%l:%M %P - %b %-d, %Y")
%p
  =@message.name
%p
  =@message.email
%br
.message
  =simple_format @message.message
