%h1 Article Categories

.row
  .col-sm-6
    %fieldset
      %legend Categories
      = datatable_table_for Category
  .col-sm-6
    %fieldset
      %legend New Category
      =render "form", category: @new_category
.modals
  -@categories.each do |category|
    =render "modal", category: category