%h1 Article Categories

.row
  .col-sm-6
    %fieldset
      %legend Categories
      %table.table.table-hover#categories-datatable{data: {source: admin_categories_path }}
        %thead
          %tr
            %th Name
            %th Slug
            %th Uses
            %th.text-right Controls
        %tbody
  .col-sm-6
    %fieldset
      %legend New Category
      =render "form", category: @new_category
.modals
  -@categories.each do |category|
    =render "modal", category: category