@use '../modules/colors' as colors;

/* Buttons */

.btn-secondary{
  background-color: colors.$brand-secondary;
  border-color: darken(colors.$brand-secondary, 10);
  color: white;
  
  &:hover, &:active, &:focus {
    background-color: darken(colors.$brand-secondary, 10);
    border-color: darken(colors.$brand-secondary, 20);
    color: white;
  }
}