.nav-tabs.song-sorting {
  border-bottom-color: darken($brand-primary, 10);
  
  & > li {
    & > a {
      border-color: darken($brand-secondary, 10);
      border-bottom-width: 0px;
      margin-bottom: 1px;
      background-color: $brand-secondary;
      color: white;
      padding: 3px;
    }
    &.active > a,
    & > a:hover,
    & > a:focus {
      border-color: darken($brand-primary, 10);
      background-color: $brand-primary;
      border-bottom-width: 0px;
      color: white;
    }
  }
}

.letter-links{
  padding: 20px 0;
  border-bottom: 2px solid $brand-secondary;
}

.letter-block{
  border-bottom: 2px solid $brand-secondary;
  padding-bottom: 20px;
  
  .letter-header{
    border-bottom: 1px solid $brand-primary;
    margin-bottom: 20px;
  }
}

.year-links{
  @extend .letter-links;
  .nav-pills{
    display: inline-block;
    
    & > li > a{
      color: white;
      background-color: $brand-secondary;
      padding: 3px 8px;
      margin: 0px 4px;
      
      &:focus, &:hover{
        background-color: $brand-primary;
      }
    }
    & > li.active > a {
        background-color: $brand-primary;
    }
  }
}

.song-listing{
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid $brand-primary;
  margin-top: 20px;
  audio{
    margin-top: 20px;
  }
}
  
audio{
  width: 100%;
  &::-webkit-media-controls-volume-slider,
  &::-webkit-media-controls-timeline{
    -webkit-filter: hue-rotate($hue-rotate)
                    saturate($hue-saturate)
                    brightness($hue-lightness*1.372);
    filter: hue-rotate($hue-rotate)
            saturate($hue-saturate)
            brightness($hue-lightness*1.372);
  }
}

.performance-block{
  padding: 10px 0 20px;
  border:{
    top: 1px solid $brand-secondary;
    bottom: 1px solid $brand-secondary;
  }
}