@use "../modules/colors" as colors;

.nav-tabs.song-sorting {
  border-bottom-color: darken(colors.$brand-primary, 10);
  
  & > li.nav-item > a.nav-link {
    border-color: darken(colors.$brand-secondary, 10);
    border-bottom-width: 0;
    margin-bottom: 1px;
    background-color: colors.$brand-secondary;
    color: white;
    padding: 3px;

    &.active, &:hover, &:focus {
      border-color: darken(colors.$brand-primary, 10);
      background-color: colors.$brand-primary;
      border-bottom-width: 0;
      color: white;
    }
  }
}


.letter-links{
  padding: 20px 0;
  border-bottom: 2px solid colors.$brand-secondary;
}

.letter-block{
  border-bottom: 2px solid colors.$brand-secondary;
  padding-bottom: 20px;
  
  .letter-header{
    border-bottom: 1px solid colors.$brand-primary;
    margin-bottom: 20px;
  }
}

.year-links{
  @extend .letter-links;
  .nav-pills > li.nav-item > a.nav-link{
    color: white;
    background-color: colors.$brand-secondary;
    padding: 3px 8px;
    margin: 0 4px;

    &:focus, &:hover, &.active{
      background-color: colors.$brand-primary;
    }
  }
}

.song-listing{
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid colors.$brand-primary;
  margin-top: 20px;
  audio{
    margin-top: 20px;
  }
}
  
audio{
  width: 100%;
  @supports (-webkit-appearance: none) {
    &::-webkit-media-controls-volume-slider,
    &::-webkit-media-controls-timeline {
      -webkit-filter: hue-rotate(colors.$hue-rotate) saturate(colors.$hue-saturate) brightness(colors.$hue-lightness*1.372);
      filter: hue-rotate(colors.$hue-rotate) saturate(colors.$hue-saturate) brightness(colors.$hue-lightness*1.372);
    }
  }
}

.performance-block{
  padding: 10px 0 20px;
  border:{
    top: 1px solid colors.$brand-secondary;
    bottom: 1px solid colors.$brand-secondary;
  }
}