/* Rehearsals */

.rehearsal-block{
  padding: 20px 0;
  border-bottom: 1px solid $brand-secondary;
  table{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .btn{
    @media #{$xs-screen} {float: right;}
    @media #{$sm-screen-up} {margin: auto; display: table;}
  }
  
  &.download-block{
    @media #{$sm-screen-up} {
      border: 1px solid $brand-secondary;
      padding: 20px;
      margin-bottom: 30px;
    }
  }
}