@use '../modules/colors' as colors;
@use '../modules/media' as media;

/* Rehearsals */

.rehearsal-block{
  padding: 20px 0;
  border-bottom: 1px solid colors.$brand-secondary;
  table{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .btn{
    @media #{media.$xs-screen} {float: right;}
    @media #{media.$sm-screen-up} {margin: auto; display: table;}
  }
  
  &.download-block{
    @media #{media.$sm-screen-up} {
      border: 1px solid colors.$brand-secondary;
      padding: 20px;
      margin-bottom: 30px;
    }
  }
}

.pagination {
  display: table;
  padding-left: 0;
  margin: 20px auto;
  border-radius: 4px;
}