@use '../modules/colors' as colors;
@use '../modules/media' as media;

/* Title */

.title_holder{
  background-color: colors.$brand-secondary;
  width: 100%;
  
  @media #{ media.$xs-screen } { height: 140px; }
  @media #{ media.$sm-screen } { height: 220px; }
  @media #{ media.$md-screen } { height: 280px; }
  @media #{ media.$lg-screen } { height: 320px; }
  
  .title_image{
    height: 100%;
    background: {
      size: cover;
      position: center center;
    }
    
    .title_overlay {
      background-color: rgba(0, 0, 0, 0.5); //50% Transparent Black
      display: table;
      height: 100%;
      width: 100%;
      
      h1{
        color: white;
        display: table-cell;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }
  }
  
}