@use '../modules/colors' as colors;
@use '../modules/media' as media;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');

html, body{
  font:{
    family: "Open Sans", sans-serif;
    size: 14px;
  }
  color: colors.$brand-secondary;
}

h1{
  font-weight: 600;
  
  @media #{media.$xs-screen} {font-size: 36px;}
  @media #{media.$sm-screen} {font-size: 48px;}
  @media #{media.$md-screen} {font-size: 64px;}
  @media #{media.$lg-screen} {font-size: 75px;}
}

h2{
  margin: { 
    top: 5px; 
    bottom: 5px;
  }
  font-size: 24px;
}


h3{
  margin: 0;
  font-size: 20px;
}

a{
  color: colors.$brand-primary;

  &:hover{
    color: lighten(colors.$brand-primary, 10);
    text-decoration: none;
  }

  &.secondary{
    color: colors.$brand-secondary;

    &:hover{
      color: colors.$brand-primary;
    }
  }
}

.date{
  color: colors.$brand-primary;
}