body{
  font:{
    family: "Open Sans";
    size: 12px;
  }
  color: $brand-secondary;
}

h1{
  font-weight: 600;
  
  @media #{$xs-screen} {font-size: 36px;}
  @media #{$sm-screen} {font-size: 48px;}
  @media #{$md-screen} {font-size: 64px;}
  @media #{$lg-screen} {font-size: 90px;}
}

a{
  color: $brand-primary;
}