@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import 'jquery-ui/sortable';
/*
@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome-sprockets";
@import "font-awesome";
*/
@import 'plugins/code_view.min.css';


body{
  padding-bottom: 60px;
}

#error-explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.ui-state-highlight{
  border: 1px solid #ddd;
  background: #e6e6e6;
  margin-bottom: 20px;
  
  &.sheet-music-highlight{
    height: 89px;
  }
  
  &.audio-highlight{
    height: 146px;
  }
}

.panel-title .glyphicon{
  transition: all 333ms linear;
}

a.collapsed .glyphicon{
  transform: rotate(-180deg);
}

.panel-group .panel{
  margin: {
    top: 15px;
    bottom: 15px;
  }
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 
.clickable-row{
  cursor: pointer; 
}