=link_to [:edit, :admin, record],
         class: "btn btn-default btn-xs" do
  %span.glyphicon.glyphicon-pencil
&nbsp;
=link_to [:admin, record],
         method: :delete,
         data: { confirm: "Are you sure?" },
         class: "btn btn-danger btn-xs" do
  %span.glyphicon.glyphicon-remove