=link_to [:edit, :admin, record],
         class: "btn btn-outline-secondary btn-xs" do
  %span.bi.bi-pencil
&nbsp;
=link_to [:admin, record],
         method: :delete,
         data: { confirm: "Are you sure?" },
         class: "btn btn-danger btn-xs" do
  %span.bi.bi-x