-bg = content_for(:bg) || "pexels-photo-164715.jpeg"
-title = content_for(:title) || "Welcome"
-title ||= "Welcome"
.title_holder
  .title_image{:style => "background-image: url(\"#{image_path(bg)}\");"}
    .title_overlay
      %h1= title